* {
  box-sizing: border-box;
}

/* styling navigation list */


/* styling links */
a:link {
  color: white;
  outline: none;
}
a:visited {
  color: #d96629;
}

a:hover {
  color: #d96629;
}
 /* styling navigation words*/
ul {
  font-size: 15px;
  text-align:;
  word-spacing: 5em;
  margin: ;
  color: lightgrey;
  font-family: system-ui;

}
/**/


/*body starts below, styling main recipe*/

article {
  margin: 150px 0px 0px 0px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;

  padding-top: 1em;
}



/*styling body links*/

.link {
color: salmon;
}


/*styling footer and header*/

.blogname {

  font-family:fantasy;
  font-size: 40px;
  margin: 0 10px 0 0 auto;
  background-color: white;
  display: inline-block;
}
.main-header {
  background: salmon;
  padding: ;
}




.main-footer {
  background-color: lightgrey;
  padding: 2em 0;
  text-align: center;

}

/*formating columns for recipe and about me*/
.col {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
}

/*sticky footer*/
.wrap {
  min-height: 100vh;
}

/*media queries*/
@media (min-width: 769px) {
  .container {

    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }



  }

  .main-nav,
  .main-nav li {
    display: inline;

  }
  .main-nav li {
    margin-right: 0;

  }
  .blue {
    width: 300px;
    float: right;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: grey;
  }

  .rosemary {
    width: 300px;
    border-style: solid;
    border-color: grey;
  }
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
  .main-header {
    position: fixed;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    width: 100%;

  }
}
