header {
  background: radial-gradient(white, lightgrey);
  margin: 0px 0px -40px -100px;
}

a:link {
  color: grey;
  outline: none;
}
a:visited {
  color: #d96629;
}

a:hover {
  color: #d96629;
}

ul {
  font-size: 15px;
  text-align: center;
  word-spacing: 5em;
  margin: -53px 0px 10px 550px;
  color: lightgrey;
  font-family: system-ui;

}

/*body starts below*/

article {
  margin: 200px 0px 0px 0px;
  text-align: center;
  font-family:system-ui;
}
